p {
  font-size: 15px;
  line-height: 25px;
}

section {
  padding: 25px 0 35px;
  background: #fff;
}

body { 
  position: relative; /* we need this for the scrollspy */ 
  font-size: 14px;
}

a { color: #3CC; }

a:hover { color: #FF0; }

/*----------
  NAV
----------*/

.fixed-side-navbar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 99999;
  margin-top: -100px;
  text-align: right;
  padding: 30px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.fixed-side-navbar:hover {
  background: transparent;
}
.fixed-side-navbar:hover .nav > li > a > span {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 12px;
  border-radius: 15px;
}
.fixed-side-navbar .nav > li a.active {
  background-color: transparent;
  color: black;
}
.fixed-side-navbar .nav > li a.active:after {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.fixed-side-navbar .nav > li a.active:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
}
.nav>li {
  position: relative;
  display: block;
}
.fixed-side-navbar .nav > li a {
  color: #fff;
  min-height: 32px;
  background: transparent;
  padding: 5px 45px 5px 25px;
  border-right: none;
}
.fixed-side-navbar .nav > li a span {
  display: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.fixed-side-navbar .nav > li a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.75);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.fixed-side-navbar .nav > li a:hover {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: black;
  boder-right: 0;
}
.fixed-side-navbar .nav > li a:hover > span {
  color: black;
  display: block;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}


.primary-button a {
  display: inline-block;
  background-color: #ff7d27;
  padding: 15px 24px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}


.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  

}


.baner-content {
  padding-top: 30vh;
  text-align: center;
  background-image: url(../img/purple.png);
  /* background: linear-gradient(rgb(235, 58, 217), rgb(113, 6, 228)); */
}

h1
{
  margin-top: 0px;
  font-size: 60px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.trial p
{
  margin-top: 0px;
  font-size: 26px;
  color: white;
  font-weight: 90;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 160px;
  text-align: center;
  line-height: normal;
}

.trial1 p
{
  margin-top: 0px;
  font-size: 26px;
  color: white;
  font-weight: 90;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  line-height: normal;
}

.baner-content h1 {
  margin-top: 0px;
  font-size: 128px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.baner-content em {
  color: #ff7d27;
  font-weight: 600;
  font-style: normal;
}



.baner-content span {
  display: inline-block;
  margin-top: -20px;
  font-weight: 300;
  font-size: 48px;
  color: white;
}

.baner-content .primary-button {
  margin-top: 15px;
}



.service-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  background-image: url(../img/orange.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.service-content .left-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  
}


h4, .h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.line-dec
{
  width: 300px;
  height: 3px;
  background-color: #ff7d27;
  margin: 20px auto 20px auto;
}

.service-content .left-text .line-dec {
  width: 45px;
  height: 3px;
  background-color: #ff7d27;
  margin: 20px 0px 20px 0px;
}



.service-content .left-text p {
  color: #fff;
}

.service-content .left-text ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.service-content .left-text ul li {
  margin: 15px 0px;
  font-weight: 600;
  color: #fff;
}

.service-content .left-text .primary-button {
  margin: 30px 0px;
}

.service-content .service-item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.service-content .service-item .line-dec {
  width: 45px;
  height: 3px;
  background-color: #ff7d27;
  margin: 20px auto 15px auto;
}



.projects-content {
  padding-top: 20vh;
  background-image: url(../img/green.jpg);
}

.projects-content .item img {
  width: 100%;
}

.projects-content .item {
  margin: 15px;
}

.projects-content .item .text-content {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}

.projects-content .item .text-content h4 {
  margin-top: 0px;
  font-size: 19px;
  font-weight: 600;
}

.projects-content .item .text-content span {
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  color: #ff7d27;
}

.owl-pagination {
  margin-top: 40px;
  opacity: 1;
  display: inline-block;
}

.owl-page span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}


.tabs-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8vh;
  background-image: url(../img/magenta.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
}

section {
  background-color: transparent;
  padding-bottom: 15px;
  
}

.wrapper {
  text-align: center;
}

.tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tabs li {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.tabs a {
  display:block;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  color:#fff;
  font-size: 14px;
  font-weight: 700;
  padding:10px 15px;
  border:4px solid #fff;
}

.tabs a:hover {
  color: #ff7d27;
}

.tabs .active {
  border:4px solid #ff7d27;
}

.tabgroup div  {

}

.tabgroup p {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 25px;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}


.contact-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16vh;
   background-image: url(../img/purple.png); 
   align-items: center;
   align-content: center;
   align-self: center;
   margin: 0 auto;
 

}

.contact-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 25px;
  margin-bottom: 30px;
}

#contact input {
  border-radius: 3px;
  padding-left: 15px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 50px;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

#contact textarea {
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  height: 165px;
  max-height: 220px;
  width: 100%;
  margin-bottom: 25px;
}

#contact button {
  display: inline-block;
  background-color: #ff7d27;
  padding: 15px 24px;
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.map {
  margin-bottom: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
}



footer {
  text-align: center;
  background-color: #282b2f;
  padding: 70px 0px;
}

footer .primary-button {
  margin-bottom: 30px;
}

footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 0px 4px;
}

footer ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #ff7d27;
  color: #282b2f;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 17px;
}

footer ul li a:hover {
  color: #282b2f;
  background-color: #ff8e43;
}

footer p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

footer em {
  color: #ff8e43;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 767px){
  
  .baner-content {
    padding-top: 30vh;
  }

  .baner-content h1 {
    font-size: 64px;
  }

  .baner-content em {
  }

  .baner-content span {
    font-size: 24px;
  }

  .baner-content .primary-button {
    margin-top: 15px;
  }

  .service-content {
    padding-top: 5vh;
    text-align: center;
  }

  .service-content .left-text .line-dec {
    width: 45px;
    height: 3px;
    background-color: #ff7d27;
    margin: 20px auto 20px auto;
  }

  .service-content .left-text ul {
    text-align: left;
  }

  .service-content .service-item {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;

  }
}

/* LIGHT BOX */

body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid white;
}

*{
  margin: 0;
  pading: 0;
  box-sizing: border-box;
  
}

h1{
  font-weight: 400;
}
a{
  color: inherit;
}
p{
  margin-top: .7em;
}
.warning{
  color: rgb(62,148,236);
}
.st_viewport{
  max-height: 610px;
  margin-left: 1000px;
  margin-right: 1000px;
  overflow:auto;
  font-weight: bold;
}

[data-table_id="1"]{
  background-color: rgb(255,115,0);
}
[data-table_id="2"]{
  background-color: rgb(61,53,39);
  color: rgb(220,220,220);
}
[data-table_id="3"]{
  background-color: rgba(168,189,4, .8);
}

._rank{
  min-width: 80px;
}
._id{
  min-width: 60px;
}
._name{
  min-width: 130px;
}
._surname{
  min-width: 130px;
}
._year{
  min-width: 80px;
}
._section{
  min-width: 130px;
}

pre{
  overflow: auto;
}

/** Sticky table styles **/
.st_viewport{
  background-color: rgb(62,148,236);
  color: rgb(27,30,36);
  margin: 20px 0;
}
/* ###  Table wrap */
.st_wrap_table{

  margin-left: auto;
  margin-right: auto;
  
}
/* ##   header */
.st_table_header{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: rgb(27,30,36);
  color: rgb(220,220,220);
  font-weight: bold;
}
.st_table_header h2{
  font-weight: 400;
  margin: 0 20px;
  padding: 20px 0 0;
  
}
.st_table_header .st_row{
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.st_table_header .st_column{
  
}
/* ##  table */
.st_table{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-size: 15px;
  
  
}
/* #   row */
.st_row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.st_table .st_row:nth-child(even){
  background-color: rgba(0,0,0, .1)
}
/* #   column */
.st_column{
  padding: 10px 20px;
}

/*	
	Side Navigation Menu V2, RWD
	===================
	Author: https://github.com/pablorgarcia
 */


/*	
	Side Navigation Menu V2, RWD
	===================
	Author: https://github.com/pablorgarcia
 */

 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 

.container1
{
  font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:whitesmoke;
   background-color:#1F2739;
}

 
 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   color: #FB667A;
   text-decoration: none;
 }
 
 .blue { color: #185875; }
 .yellow { color: #FFF842; }
 
 .container1 th h1 {
     font-weight: bold;
     font-size: 1em;
   text-align: left;
   color: orange;
 }
 
 .container1 td {
     font-weight: normal;
     font-size: 1em;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
      -moz-box-shadow: 0 2px 2px -2px #0E1119;
           box-shadow: 0 2px 2px -2px #0E1119;
 }
 
 .container1 {
     text-align: left;
     overflow: hidden;
     width: 80%;
     margin: 0 auto;
   display: table;
   padding: 0 0 8em 0;
 }
 
 .container1 td, .container1 th {
     padding-bottom: 2%;
     padding-top: 2%;
   padding-left:2%;  
 }
 
 /* Background-color of the odd rows */
 .container1 tr:nth-child(odd) {
     background-color: #323C50;
 }
 
 /* Background-color of the even rows */
 .container1 tr:nth-child(even) {
     background-color: #2C3446;
 }
 
 .container1 th {
     background-color: #1F2739;
 }
 
 .container1 td:first-child { color: whitesmoke ; }
 
 .container1 tr:hover {
    background-color: #464A52;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
      -moz-box-shadow: 0 6px 6px -6px #0E1119;
           box-shadow: 0 6px 6px -6px #0E1119;
 }
 
 .container1 td:hover {
   background-color: orange;
   color: #403E10;
   font-weight: bold;
   
   box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
     transition-duration: 0.4s;
     transition-property: all;
   transition-timing-function: line;
 }
 
 @media (max-width: 800px) {
 .container1 td:nth-child(4),
 .container1 th:nth-child(4) { display: none; }
 }



/* SECTION  NUMBERS */

.numbers{
  text-align:center;

}

.numbers .flex{
	flex-wrap:wrap;
  text-align:center;

	justify-content: space-between;
}

.numbers .number-item{
  text-align:center;

	font-size:1.4em;
}
.numbers .number-item h1{
  align-items: center;
  text-align:center;

	font-weight:500;
}

.numbers .number-item h6{
	font-weight:300;
  text-align:center;

	text-transform:uppercase;
	font-size:12px;
}

/* .col-sm-3half, .col-sm-8half {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-sm-3half, .col-sm-8half {
      float: left;
  }
  .col-sm-3half {
      width: 29.16666667%;
  }
  .col-sm-8half {
      width: 70.83333333%;
  }
}
 */
 .col123 {
  text-align: right;
  }
  .pull-right {
  margin: 0 0 0 auto;
  }